*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#050505;
color:white;
overflow-x:hidden;

}


/* Animated background */

.particles{

position:fixed;
width:100%;
height:100%;
z-index:-1;

background:

radial-gradient(circle at 20% 20%,#00ffff33,transparent 25%),
radial-gradient(circle at 80% 30%,#ff00ff33,transparent 25%),
linear-gradient(120deg,#050505,#111);

animation:bgmove 10s infinite alternate;

}


@keyframes bgmove{

from{

transform:scale(1);

}

to{

transform:scale(1.2);

}

}



/* Navbar */

nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:30px 8%;

}


.logo{

font-size:30px;

}


.logo span{

color:#00ffff;

}



.links a{

color:white;
text-decoration:none;
margin:20px;
transition:.3s;

}


.links a:hover{

color:#00ffff;

}




/* Hero */

.hero{

height:90vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

}


.threeD{

font-size:120px;

animation:float 3s infinite;

filter:drop-shadow(0 0 30px cyan);

}



@keyframes float{

50%{

transform:translateY(-30px) rotateY(180deg);

}

}




.hero h1{

font-size:75px;

background:linear-gradient(90deg,#fff,#00ffff);

-webkit-background-clip:text;

color:transparent;

}



.hero h2{

margin:20px;

font-size:30px;

}



.hero span{

color:#00ffff;

}


.hero p{

font-size:20px;

color:#aaa;

}



button{

margin-top:35px;

padding:15px 45px;

border-radius:40px;

border:none;

font-size:18px;

cursor:pointer;

background:white;

transition:.4s;

}


button:hover{

transform:scale(1.1);

background:#00ffff;

}





/* Cards */


.box{

width:80%;

margin:80px auto;

padding:45px;


background:

rgba(255,255,255,0.08);


border-radius:30px;


backdrop-filter:blur(20px);


box-shadow:

0 0 40px #00ffff22;


transition:.5s;


}



.box:hover{


transform:

perspective(900px
